body {
  background-image: url("./images/rm-bg.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #3e4440;
  /* text-shadow: 0px 0px px #fff; */
  height: 60px;
  width: 100%;
  margin: 0;
  border-bottom: 3px solid #232423;
}

.navbar {
  position: fixed;
  top: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  margin-bottom: 100px;
}

.character_container {
  background-color: rgba(43, 40, 40, 0.2);
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.card {
  height: auto;
  width: 275px;
  margin: 5px;
  background-color: #222;
}

.card_body {
  color: white;
  background-color: rgb(43, 40, 40);
}

.subText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.borderBottom {
  border-bottom: 1px solid #222;
}

.card_title {
  font-size: 1.2rem;
}

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3e4440;
  height: auto;
  padding-top: 10px;
  width: 100%;
}
